<a href="https://colab.research.google.com/github/barefayne/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `name_to_replace`
name_to_replace = name_count[name_count < 100].index

# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_count[classification_count < 1500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL.values
X = dummies_df.drop(columns = 'IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="linear"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6640

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 20)                820

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 10,721
Trainable params: 10,721
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5168 - accuracy: 0.7433
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4959 - accuracy: 0.7563
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4919 - accuracy: 0.7582
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4893 - accuracy: 0.7572
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4883 - accuracy: 0.7603
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4871 - accuracy: 0.7610
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4855 - accuracy: 0.7608
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4855 - accuracy: 0.7614
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4845 - accuracy: 0.7609
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4839 - accuracy: 0.7619
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4832 - accuracy: 0.7619
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4825 - accuracy: 0.7637
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4830 - accuracy: 0.7634
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4819 - accuracy: 0.7639
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4812 - accuracy: 0.7621
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4809 - accuracy: 0.7632
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4804 - accuracy: 0.7639
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4809 - accuracy: 0.7635
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4794 - accuracy: 0.7640
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4793 - accuracy: 0.7642
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4796 - accuracy: 0.7635
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4788 - accuracy: 0.7647
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4790 - accuracy: 0.7648
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4792 - accuracy: 0.7648
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4786 - accuracy: 0.7643
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4777 - accuracy: 0.7654
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4778 - accuracy: 0.7640
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4780 - accuracy: 0.7647
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4778 - accuracy: 0.7648
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4771 - accuracy: 0.7654
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4768 - accuracy: 0.7664
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4769 - accuracy: 0.7655
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4768 - accuracy: 0.7664
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4763 - accuracy: 0.7652
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7665
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4763 - accuracy: 0.7660
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4763 - accuracy: 0.7658
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4757 - accuracy: 0.7645
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4756 - accuracy: 0.7661
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4756 - accuracy: 0.7664
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4755 - accuracy: 0.7662
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4754 - accuracy: 0.7667
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4755 - accuracy: 0.7662
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4752 - accuracy: 0.7658
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4745 - accuracy: 0.7671
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4748 - accuracy: 0.7681
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4745 - accuracy: 0.7665
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4744 - accuracy: 0.7662
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4741 - accuracy: 0.7677
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4738 - accuracy: 0.7666
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4738 - accuracy: 0.7682
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4739 - accuracy: 0.7657
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4738 - accuracy: 0.7662
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4739 - accuracy: 0.7671
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4736 - accuracy: 0.7669
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4734 - accuracy: 0.7669
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4737 - accuracy: 0.7662
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4733 - accuracy: 0.7664
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4730 - accuracy: 0.7680
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4732 - accuracy: 0.7671
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4728 - accuracy: 0.7678
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4727 - accuracy: 0.7671
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4725 - accuracy: 0.7670
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4727 - accuracy: 0.7677
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4730 - accuracy: 0.7678
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4726 - accuracy: 0.7676
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4720 - accuracy: 0.7671
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4725 - accuracy: 0.7670
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7668
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4720 - accuracy: 0.7674
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7681
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4723 - accuracy: 0.7689
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4716 - accuracy: 0.7673
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4722 - accuracy: 0.7676
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4716 - accuracy: 0.7685
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4717 - accuracy: 0.7668
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7682
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4716 - accuracy: 0.7676
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4712 - accuracy: 0.7676
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4716 - accuracy: 0.7683
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4713 - accuracy: 0.7680
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7677
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7684
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4709 - accuracy: 0.7676
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4714 - accuracy: 0.7677
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4709 - accuracy: 0.7685
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4707 - accuracy: 0.7686
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4709 - accuracy: 0.7682
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7680
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7683
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7687
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4709 - accuracy: 0.7681
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7682
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7691
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4702 - accuracy: 0.7683
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7681
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7685
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7683
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4701 - accuracy: 0.7682
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7685

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5068 - accuracy: 0.7529 - 358ms/epoch - 1ms/step
Loss: 0.5067779421806335, Accuracy: 0.7528862953186035

In [17]:
# Export our model to HDF5 file
nn.save('HDF5 files/AlphabetSoupCharityOptimization3.h5')